<html>
<head>
  {% include "bootstrap.html" %}
  {% load static %}
  <script src="{%static 'chessboard.js' %}" /></script>
  <link rel="stylesheet" href="{%static 'chessboard.css' %}"/>
</head>
<body>
  {% include "navigation.html" %}
  <h1>CINS 465: Assignment 4 by Chris Fisher</h1>
  <p>
  </p>
  <p>The game of chess is very strategic and unique. It is played between two players on an eight by eight grid. One person controls the white
    pieces and the other with the dark, totaling 16 pieces for each player. This game emerged from Southern Europe. The game is won by putting the
    oponents king under attack by your pieces, such that the oponents king is trapped and can not move anywhere else to saftey.
  </p>
</body>
</html>
