<html>
<head>
  {% include "bootstrap.html" %}
  {% load static %}
  <script src="{%static 'chessboard.js' %}" /></script>
  <link rel="stylesheet" href="{%static 'chessboard.css' %}"/>
</head>
<body>
  {% include "navigation.html" %}
  <div>
    <h1>CINS 465: Assignment 4 by Chris Fisher</h1>
  </div>
  <table>
    {% for row in rows %}
    <tr>
      {% for Source,Destination in row.items %}
      {% autoescape off %}
      {% if forloop.first %}
      <th>
        {{Destination}}
      </th>
      {% else %}
      <td id="{{Source}}">
        {{Destination}}
      </td>
      {% endif %}
      {% endautoescape %}
      {% endfor %}
    </tr>
    {% endfor %}
    <tr>
      <th></th><th>a</th><th>b</th><th>c</th><th>d</th><th>e</th><th>f</th><th>g</th><th>h</th>
    </tr>
  </table>
  <p>
  </p>
  <div class="container" align="center">
    <form method="post">{% csrf_token %}
      {{chess_form.as_table}}
      <button type="submit" class="btn btn-primary" name = "Move">Move</button>
    </form>
    <form method="get">
      <button type="submit" class="btn btn-primary" name = "Reset">Reset</button>
    </form>
  </div>
<body/>
</html>
