body {
  padding: 40px;
}
table {
  margin: auto;
  background: tan;
  border: 1px solid black;
}
td {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  font-size: 60px;
  text-align: center;
}
tr:nth-child(even) td:nth-child(even),
tr:nth-child(odd) td:nth-child(odd) {
  background: chocolate;
}
th {
  text-align:center;
}
div {
  text-align:center;
}
